html
  head
    link(rel='icon', type='image/png', href='https://cdn.glitch.com/0ae5a3d1-b854-4df6-8463-0ac7495d4ae3%2Ffavicon%20(1).ico?1521033238227')
    // link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    //     link(rel='stylesheet', type='text/css', href='/materialize.css')
    link(rel='stylesheet', tye='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css')
    link(href='https://fonts.googleapis.com/css?family=Rammetto+One' rel='stylesheet')
    meta(charset='utf-8')
    title= EazyBoss
  body.indigo.lighten-3
    .row
      .col.s12
        h1.center-align(style="font-family: 'Rammetto One', cursive") EaZYBOss
      .col.s12.m12
        .card
          .card-content
            form.valign-wrapper(action="/secret/status", method="get")
              .input-field(id='status').col.s10
                select(name='status' required)
                  if rendu
                    option(selected) Prêts rendus
                    option Tous les prêts 
                    option Prêts en retard
                  else if retard
                    option Prêts rendus
                    option Tous les prêts 
                    option(selected) Prêts en retard
                  else
                    option Prêts rendus
                    option(selected) Tous les prêts
                    option Prêts en retard
              .input-field(hidden)
                input#token.form-control(name='token', value=token)
              .col.s2
                button.btn.waves-effect.waves-light(type='submit') Afficher  
            table.centered.responsive-table
              thead
                tr
                  th Numero Etudiant
                  th Date Emprunt
                  th Login Professeur
                  th Numero Carte
                  th Rendu
                  th Longueur prévue de l'emprunt
              if tableau
                each val in tableau
                  if val.rendu
                    tr.green-text.text-lighten-2
                      td
                        u
                          a.green-text(href='/secret/eleve/' + val._id.numEtudiant + '/rendu/' + val.rendu + "?token=" + token)= val._id.numEtudiant
                      td= val._id.dateEmprunt
                      td= val.eleve[0]._id.login
                      td= val.numCarte
                      td= val.rendu
                      td= val.longEmprunt
                  else if val.status
                    tr.red-text.text-lighten-2
                      td
                        u
                          a.red-text(href='/secret/eleve/' + val._id.numEtudiant + '/rendu/' + val.rendu + "?token=" + token)= val._id.numEtudiant
                      td= val._id.dateEmprunt
                      td= val.eleve[0]._id.login
                      td= val.numCarte
                      td= val.rendu
                      td= val.longEmprunt      
                  else
                    if !retard
                      tr.blue-text.text-lighten-2
                        td
                          u
                            a.blue-text(href='/secret/eleve/' + val._id.numEtudiant + '/rendu/' + val.rendu + "?token=" + token)= val._id.numEtudiant
                        td= val._id.dateEmprunt
                        td= val.eleve[0]._id.login
                        td= val.numCarte
                        td= val.rendu
                        td= val.longEmprunt  
    .row
      .col.s12.m6.l6
        .card
          form(action='/secret/ajouter', method='post')
            .card-content
              .card-title Ajouter un emprunt  
              if ajoutImpossible
                div.red-text On ne peut rendre une carte qui n'a pas été empruntée
              .input-field
                input#numEtudiant.form-control(name='numEtudiant', type='number', min=0, required)
                label(for='numEtudiant') Numéro Etudiant
              .input-field
                if professeurs
                    select(name='loginProf', required)
                        each professeur in professeurs
                            option= professeur.login
                else
                    input#numProf.form-control(name='loginProf',type='text', required)
                label(for='loginProf') Login Professeur
              .input-field
                input#numCarte.form-control(name='numCarte',type='number', min=0, required)
                label(for='numCarte') Numéro Carte
              .input-field
                p Type de transaction
                p
                  label
                    input.with-gap(name='emprunt' type='radio' id='emprunt' onchange='click_emprunt()' required)
                    span emprunt
                p
                  label
                    input.with-gap(name='emprunt' type='radio' id='rendu' onchange='click_retour()' required)
                    span retour
              .input-field(hidden)
                  input#retour.form-control(name='retour', value='true')
              .input-field(id='duree' hidden)
                  select(name='duree' required)
                    option 1 semaine
                    option 2 semaines
                    option 1 mois
                  label Durée de l'emprunt
              .input-field(hidden)
                  input#token.form-control(name='token', value=token)
            .card-action
              button.btn-flat.teal-text(type='submit') Valider



      .col.s12.m6
        .card
          form(action='/secret/delete', method='post')
            .card-content        
              .card-title Supprimer une entrée
              if supImpossible 
                div.red-text L'élément entré n'existe pas dans la base de données
              div.red-text(id='error')
              .input-field
                input#numEtudiant.form-control(name='numEtudiantASupprimer' type='number' min=0 required)
                label(for='numEtudiant') Numéro Etudiant
              .input-field
                input#numProf.form-control(name='dateEmpruntASupprimer' type='text' required)
                label(for='dateEmprunt') Date d'emprunt
              .input-field(hidden)
                input#token.form-control(name='token', value=token)
            .card-action
              button.btn-flat.teal-text(type='submit') Supprimer
            
      .col.s12.m6
        .card
          form(action='/secret/AjouterProf', method='post')
            .card-content       
              .card-title Ajouter un compte professeur
              if mdpDiff 
                div.red-text Vous avez entré deux mot de passe différent
              if loginExiste
                div.red-text Vous avez entré un login qui existe déjà
              div.red-text(id='error')
              .input-field
                  input#login.form-control(name='  login' type='text')
                  label(for='login') Login
              .input-field
                  input#numProf.form-control(name='mot_de_passe' type='password')
                  label(for='mot_de_passe') Mot de passe
              .input-field
                  input#numProf.form-control(name='mot_de_passe2' type='password')
                  label(for='mot_de_passe2') Répétez le mot de passe
              .input-field(hidden)
                  input#token.form-control(name='token', value=token)
            .card-action
              button.btn-flat.teal-text(type='submit') Ajouter
              
      .col.s12.m6
        .card
          form(action='/secret/export', method='post')
            .card-content        
              .card-title Exporter un fichier csv
                div.red-text(id='error')
                .input-field(hidden)
                  input#token.form-control(name='token', value=token)
            .card-action
              button.btn-flat.teal-text(type='submit', name='export') Exporter

      .col.s12.m6
        .card
          form(action='/secret/submit', method='post', enctype="multipart/form-data")
            .card-content         
              .card-title Importer un fichier csv
                div.red-text(id='error')
                .file-field.input-field
                  .btn.waves-effect.waves
                    span Parcourir
                    input(type='file', name='myFile',required)
                  .file-path-wrapper
                    input.file-path.validate(type='text')
                .input-field(hidden)
                  input#token.form-control(name='token', value=token)
            .card-action
              button.btn-flat.teal-text(type='submit', name='submit') Importer
      
      .col.s12.m6
        .card
          form(action='/secret/stats', method='get')
            .card-content        
              .card-title Statistiques
                div.red-text(id='error')
                .input-field(hidden)
                  input#token.form-control(name='token', value=token)
            .card-action
              button.btn-flat.teal-text(type='submit', name='stats') Accès aux statistiques
                
                
    append scripts  
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js')
      script(src='/select.js')            